.pagination {
  width: 100% !important;
  font-size: 1.45em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  column-gap: 0.25em;

  img {
    height: 100%;
    text-align: center;
    cursor: pointer;
  }

  div {
    min-width: 1.9em;
    aspect-ratio: 1;
    @include flexCenter();
  }

  div:not(.dots) {
    cursor: pointer;
  }

  .active {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.87);
    color: black;
  }
}
