.content-container.rockets {
    row-gap: 1em;
}

.rockets-container {
    width: 100%;
    height: 65%;
    margin-bottom: .7em;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .desktop-only {
        display: none;
    }

    &>div {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-around;

        .status.active {
            color: rgba(5, 255, 0, 87%);
        }

        .status.inactive {
            color: rgba(255, 0, 0, 87%);
        }

        .arrow-down {
            @include flexCenter();
            cursor: pointer;
        }
    }

    .header-row {
        font-size: .9em;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.6);

        .invisible {
            pointer-events: none;
            opacity: 0;
        }

        p {
            margin: .7em 0;
            text-transform: uppercase;
        }
    }

    .rockets-list-wrapper {
        overflow-y: scroll;
        background: rgba(0, 0, 0, 0.6);
    }

    .row-wrapper {
        display: flex;
        flex-direction: column;
        font-size: .72rem;

        p {
            @include montserrat();
        }

        .diamentions {
            flex-direction: column;
            padding: .5em 0;

            p {
                margin: .3em 0;
            }

            div {
                display: flex;
                column-gap: 1em;
            }
        }

        .row {
            font-size: 1em;
        }

        h4 {
            font-weight: 500;
            font-size: 1.5em;
            margin: .2em 0;
            text-transform: uppercase;
        }

        .details-wrapper {
            display: grid;
            grid-template-columns: .9fr 1fr;
            grid-template-rows: 1fr 1fr 1.5fr;
            padding: 0 1.5em;
            height: 0;
            overflow: hidden;

            &.open {
                height: auto;
            }

            p {
                font-size: 1em;
                margin: .2em 0;
            }
        }

        .engine-info {
            grid-column: 1/2;
        }

        .images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: .6em;
            row-gap: .4em;
            grid-column: 2/3;
            grid-row: 1/3;
            align-self: center;

            img {
                width: 100%;
            }
        }

        .description-wrapper {
            grid-column: 1/3;
            grid-row: 3/4;
            display: flex;
            flex-direction: column;
            row-gap: .4em;
        }
    }
}

@media screen and (max-width: map-get($breakpoints, xxs-max)) {
    .content-container.rockets {
        font-size: .7rem;
    }

    .rockets-container {
        .row-wrapper h4 {
            font-size: 1.3em;
        }

        .header-row {
            font-size: 1.08em;
        }

    }

}

@media screen and (min-width: map-get($breakpoints, s-min)) and (max-width: map-get($breakpoints, s-max)) {
    .content-container.rockets {
        font-size: 1.15rem;
    }

    .rockets-container {
        .row-wrapper {
            font-size: .9rem;
            h4 {
                font-size: 1.4em;
            }
        }

    }
}

@media screen and (min-width: map-get($breakpoints, m-min)) {

    .rockets-container {

        .desktop-only {
            display: initial;
        }

        .diamentions {
            display: flex;
        }

        .diamentions-mobile {
            display: none;
        }

        .row-wrapper {
            border-bottom: 1px solid rgba(255,255,255,0.25);
            .details-wrapper {
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-rows: 1fr;
                width: 86%;
                align-self: center;
                padding: 1em 0;
            }

            .engine-info {
                grid-column: initial;
            }

            .images {
                grid-column: initial;
                grid-row: initial;
            }

            .description-wrapper {
                grid-column: 2/3;
                grid-row: 1;
                padding-right: 5.4em;
                row-gap: 1em;
            }
        }
        
    }
    
}

@media screen and (min-width: map-get($breakpoints, l-min)) and (max-width: map-get($breakpoints, l-max)) {
    .content-container.rockets {
        font-size: 1.15rem;
    }

}

@media screen and (min-width: map-get($breakpoints, xl-min)) and (max-width: map-get($breakpoints, xl-max)) {
    .rockets-container .row-wrapper {
        font-size: .9rem;
    }

    .pagination {
        width: 30%;
    }
    
}

@media screen and (min-width: map-get($breakpoints, xxl-min)) {
    .content-container.rockets {
        font-size: 1.4rem;
    }

    .rockets-container  {
        .row-wrapper {
            font-size: .6em;
        }
        .header-row .invisible {
            letter-spacing: 7px;
        }
    }

    .pagination {
        width: 30%;
    }
    
}