@import url(../fonts/Bankgothic-Regular.ttf);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

$breakpoints: (xxs-max: 374.98px,
    xs-min: 375px,
    xs-max: 575.98px,
    s-min: 576px,
    s-max: 768px,
    m-min: 768.02px,
    m-max: 991.98px,
    l-min: 992px,
    l-max: 1199.98px,
    xl-min: 1200px,
    xl-max: 1399.98px,
    xxl-min: 1400px);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}