@import url(../fonts/Bankgothic-Regular.ttf);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
body {
  height: 100vh;
  width: 100%;
  font-family: 'bankgothic', sans-serif;
  letter-spacing: -2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url(../images/background.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 80%;
  height: 85%;
  background: rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 12px 8px rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 991.98px) and (orientation: landscape) {
  body {
    min-height: 100vh;
    height: auto;
    padding: 2em 0;
  }
  body .content-container.menu .options-container .option img {
    width: 40%;
  }
}

@media screen and (min-width: 768.02px) {
  .container.view {
    width: 90%;
    height: 85%;
  }
}

.content-container.menu .header {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container.menu .header p {
  margin: .5em 0 0 0;
}

.content-container.menu .header .header-text {
  font-size: 1.6em;
  line-height: 1.56em;
}

.content-container.menu .header .brackets {
  font-size: .9em;
  line-height: .9em;
}

.content-container.menu .options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 1em;
  height: 80%;
  width: 90%;
  padding: 1.1em 0;
}

.content-container.menu .options-container .option {
  width: 85%;
  height: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  padding: .3em 0;
  font-size: 1em;
  text-transform: uppercase;
}

.content-container.menu .options-container .option img {
  height: 75%;
}

.content-container.menu .options-container .option .option-label {
  padding: .4em 0;
}

.content-container.menu .options-container .option:last-child img {
  height: 60%;
}

@media screen and (max-width: 374.98px) {
  .content-container {
    font-size: .76rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .content-container {
    font-size: 1.43rem;
  }
  .content-container.menu .options-container {
    font-size: 1.15em;
  }
}

@media screen and (min-width: 768.02px) and (max-width: 991.98px) and (orientation: landscape) {
  .content-container {
    font-size: 1.1rem;
  }
  .content-container.menu {
    width: 80%;
    height: 90%;
  }
  .content-container.menu .options-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 768.02px) and (max-width: 991.98px) and (orientation: portrait) {
  .content-container {
    font-size: 1.25rem;
  }
  .content-container.menu {
    width: 80%;
    height: 90%;
  }
  .content-container.menu .options-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 768.02px) {
  .container {
    width: 60%;
    min-height: 22rem;
    height: 56vh;
  }
  .container .content-container.menu {
    width: 80%;
    height: 70%;
  }
  .container .content-container.menu .options-container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .content-container.menu .options-container .option {
    width: 28%;
    height: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
  }
  .container .content-container.menu .options-container .option img {
    height: 50%;
  }
  .container .content-container.menu .options-container .option:last-child img {
    height: 44%;
    -webkit-transform: translateY(12%);
            transform: translateY(12%);
  }
}

@media screen and (min-width: 768.02px) and (max-width: 1199.98px) and (orientation: portrait) {
  .container {
    width: 77%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) and (orientation: portrait) {
  .content-container {
    font-size: 1.6em;
  }
  .content-container.menu {
    width: 80%;
    height: 90%;
  }
  .content-container.menu .options-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .content-container {
    font-size: 1rem;
  }
  .content-container.menu .options-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .content-container {
    font-size: 1.2rem;
  }
  .content-container.menu .options-container {
    font-size: .9em;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 55%;
    min-height: 28rem;
  }
  .container .content-container {
    font-size: 1.5rem;
  }
  .container .content-container.menu .options-container {
    font-size: .9em;
  }
  .container .content-container.menu .options-container .option {
    height: 55%;
  }
}

.pagination {
  width: 60%;
  font-size: 1.45em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination img {
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.pagination div {
  height: 1.1em;
  width: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination div:not(.dots) {
  cursor: pointer;
}

.pagination .active {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
}

.container.view .content-container.starlinks {
  height: 92%;
}

.container.view .content-container.starlinks .header {
  width: 80%;
  font-size: 1.95em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 35% 35% 15%;
      grid-template-columns: 15% 35% 35% 15%;
  text-transform: uppercase;
}

.container.view .content-container.starlinks .header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.container.view .content-container.starlinks .header .header-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: .6em 0;
}

.container.view .content-container.starlinks .starlinks-container {
  font-size: .95em;
  width: 100%;
  margin-bottom: .6em;
}

.container.view .content-container.starlinks .starlinks-container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 35% 42%;
      grid-template-columns: 23% 35% 42%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.container.view .content-container.starlinks .starlinks-container .header-row {
  text-transform: uppercase;
  font-size: 1.15em;
}

.container.view .content-container.starlinks .starlinks-container .header-row p {
  margin-bottom: .5em;
  padding-left: .42em;
}

.container.view .content-container.starlinks .starlinks-container .row:not(.header-row) {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  font-weight: 200;
  font-size: .75em;
  background: rgba(0, 0, 0, 0.6);
}

.container.view .content-container.starlinks .starlinks-container .row:not(.header-row) p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: .6em 0;
  padding: .4em 0 .4em .7em;
}

@media screen and (max-width: 768px) {
  .starlinks-container .row:not(.header-row) p:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
}

@media screen and (min-width: 768.02px) and (orientation: landscape) {
  .container.view .content-container.starlinks {
    height: 70%;
    width: 55%;
  }
  .pagination {
    width: 40%;
  }
}

@media screen and (min-width: 768.02px) and (max-width: 991.98px) and (orientation: portrait) {
  .container.view .content-container.starlinks {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768.02px) and (max-width: 991.98px) and (orientation: landscape) {
  .container.view .content-container.starlinks {
    height: 90%;
    width: 70%;
    font-size: .7rem;
  }
  .container.view .content-container.starlinks .pagination {
    width: 37%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .container.view .content-container.starlinks {
    font-size: .9rem;
  }
  .container.view .content-container.starlinks .header {
    width: 70%;
  }
  .container.view .content-container.starlinks .starlinks-container {
    margin-bottom: 2.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .header-row p {
    padding-left: 1.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .row:not(.header-row) p {
    margin: .4em 0;
    padding: .3em 0 .3em 1.7em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .container.view {
    min-height: 28rem;
  }
  .container.view .content-container.starlinks {
    font-size: 1rem;
    width: 46%;
    height: 65%;
  }
  .container.view .content-container.starlinks .header {
    width: 70%;
  }
  .container.view .content-container.starlinks .starlinks-container {
    margin-bottom: 2.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .header-row p {
    padding-left: 1.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .row:not(.header-row) p {
    margin: .4em 0;
    padding: .3em 0 .3em 1.7em;
  }
  .container.view .content-container.starlinks .pagination {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  .container.view {
    min-height: 29rem;
  }
  .container.view .content-container.starlinks {
    font-size: 1.2rem;
    width: 45%;
    height: 65%;
  }
  .container.view .content-container.starlinks .header {
    width: 70%;
  }
  .container.view .content-container.starlinks .starlinks-container {
    margin-bottom: 2.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .header-row p {
    padding-left: 1.2em;
  }
  .container.view .content-container.starlinks .starlinks-container .row:not(.header-row) p {
    margin: .4em 0;
    padding: .3em 0 .3em 1.7em;
  }
  .container.view .content-container.starlinks .pagination {
    width: 35%;
  }
}

.content-container.roadster .header {
  width: 80%;
  font-size: 1.95em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 35% 35% 15%;
      grid-template-columns: 15% 35% 35% 15%;
  text-transform: uppercase;
}

.content-container.roadster .header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.content-container.roadster .header .header-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: .6em 0;
  text-align: center;
}

.content-container.roadster .roadster-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1em;
}

.content-container.roadster .roadster-container .kilometers,
.content-container.roadster .roadster-container .launch-details div,
.content-container.roadster .roadster-container .description .content {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
}

.content-container.roadster .roadster-container .roadster-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: .8em;
  -webkit-column-gap: .2em;
          column-gap: .2em;
}

.content-container.roadster .roadster-container .roadster-data p {
  text-align: center;
  margin: .2em 0;
}

.content-container.roadster .roadster-container .roadster-data .earth {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.content-container.roadster .roadster-container .roadster-data .distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container.roadster .roadster-container .roadster-data .distance .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .5fr 1fr;
      grid-template-columns: 1fr .5fr 1fr;
}

.content-container.roadster .roadster-container .roadster-data .distance .icons .arrows-icon img {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content-container.roadster .roadster-container .roadster-data .distance .icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container.roadster .roadster-container .roadster-data .distance .icons img {
  width: 70%;
}

.content-container.roadster .roadster-container .roadster-data .distance .kilometers {
  font-size: .85em;
  text-align: center;
}

.content-container.roadster .roadster-container .roadster-data .launch-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: .5em;
          column-gap: .5em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      align-self: center;
}

.content-container.roadster .roadster-container .roadster-data .launch-info .launch-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.content-container.roadster .roadster-container .roadster-data .launch-info .launch-icon img {
  width: 85%;
}

.content-container.roadster .roadster-container .roadster-data .launch-info .launch-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: .5em;
}

.content-container.roadster .roadster-container .roadster-data .launch-info .launch-details div {
  font-size: .9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .4em;
          column-gap: .4em;
}

.content-container.roadster .roadster-container .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: .4em;
          column-gap: .4em;
}

.content-container.roadster .roadster-container .images img {
  width: 100%;
}

.content-container.roadster .roadster-container .description {
  font-size: .8em;
  width: 95%;
  margin-bottom: 1em;
}

.content-container.roadster .roadster-container .description .heading {
  text-transform: uppercase;
  font-size: 1.5em;
}

@media screen and (max-width: 374.98px) {
  .content-container.roadster {
    font-size: .88rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .content-container.roadster {
    font-size: 1.38rem;
  }
}

@media screen and (min-width: 768.02px) and (orientation: landscape), screen and (min-width: 1200px) {
  .content-container.roadster .roadster-container {
    width: 90%;
    gap: .6em;
    padding-bottom: 1.5em;
  }
  .content-container.roadster .roadster-container .roadster-data {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .content-container.roadster .roadster-container .roadster-data .earth {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .content-container.roadster .roadster-container .roadster-data .launch-info {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(2.5em);
            transform: translateY(2.5em);
  }
  .content-container.roadster .roadster-container .roadster-data .launch-info .launch-icon {
    width: 40%;
    -webkit-transform: translateY(-1.3em) scale(1.3);
            transform: translateY(-1.3em) scale(1.3);
  }
  .content-container.roadster .roadster-container .roadster-data .launch-info .launch-details {
    row-gap: .4em;
  }
  .content-container.roadster .roadster-container .images {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 768.02px) and (max-width: 991.98px) and (orientation: portrait) {
  .content-container.roadster {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) and (orientation: landscape) {
  .container.view {
    height: 70%;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .content-container.roadster .roadster-container {
    width: 80%;
  }
  .content-container.roadster .roadster-container .images {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .content-container.roadster {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599.98px) {
  .content-container.roadster {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1600px) {
  .content-container.roadster {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */